* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1200px;
}

div.wrapper {
  margin: 0 auto;
}

div.image {
  height: 250px;
  display: flex;
  align-items: center;
}

div.description {
  display: block;
  height: 125px;
  max-height: 100%;
  overflow: scroll;
}

article {
  display: inline-block;
  width: 30%;
  border: 1px solid lightblue;
  margin: 10px 5px;
  padding-bottom: 10px;
}

h1 {
  border-bottom: 1px dotted lightgray;
}

h1, h3, p, div, footer {
  padding: 0 10px;
}

h3 {
  margin: .5em 0;
}

p {
  text-align: justify;
}

img {
  width: 250px;
  max-width: 100%;
  margin: auto;
}

section footer {
  font-size: .75em;
  margin: .5em 0 0 0;
}

.centered {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.availability {
  background: gray;
  color: yellow;
}