* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

div.wrapper {
  width: 90%;
  margin: 0 auto;
}

article {
  display: inline-block;
  width: 31.9%;
  border: 1px solid lightblue;
  margin: 10px .5%;
  padding-bottom: 10px;
}

div.image {
  height: 250px;
  display: flex;
  align-items: center;
}

img {
  width: 250px;
  max-width: 100%;
  margin: auto;
}

div.description {
  display: block;
  height: 125px;
  max-height: 100%;
  overflow: scroll;
}

h1 {
  border-bottom: 1px dotted lightgray;
}

h1, h3, p, div, footer {
  padding: 0 2%;
}

h3 {
  margin: .5em 0;
}

p {
  text-align: justify;
}

section footer {
  font-size: .75em;
  margin: .5em 0 0 0;
}

.centered {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.availability {
  background: gray;
  color: yellow;
}

@media (max-width: 800px) {
  article {
    width: 44%;
  }
}